body {
   background-color: black;
   color: #a0a0a0;
   font-family: Calibri;
   font-size: 8vw;
   text-align: center;
}
#Container {
   display: grid;
   grid-gap: 1vw;
   grid-template-columns: 1fr;
   grid-template-areas:
      "rtl"
      "rt"
      "rnl"
      "rn"
      "rcl"
      "rc"
      "tcl"
      "tc"
      "ss";
}
#RoundTimes, #RoundCount {
   background-color: #303030;
   color: #c0c0c0;
}
#RoundClock, #TotalClock {
   background-color: #404000;
   color: #ffff00;
   font-size: 24vw;
   font-weight: bold;
}
#RoundTimesLabel {
   grid-area: rtl;
}
#RoundTimes {
   grid-area: rt;
}
#RoundCountLabel {
   grid-area: rnl;
}
#RoundCount {
   grid-area: rn;
}
#RoundClockLabel {
   grid-area: rcl;
}
#RoundClock {
   grid-area: rc;
}
#TotalClockLabel {
   grid-area: tcl;
}
#TotalClock {
   grid-area: tc;
}
#StartStop {
   grid-area: ss;
   background-color: #c0c0c0;
   border-color: #303030;
   border-style: solid;
   border-radius: 4vw;
   border-width: 1vw;
   font-size: 8vw;
}
